* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1e25;
    color: rgba(255, 255, 255, 0.8);
    min-height: 100vh;
}

.btn {
    border: none;
    color: #2c2c2c;
    background-color: #61dafb;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.btn:hover {
    background-color: #fff;
}

.customer {
    fontSize: 2rem;
    margin-top: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}